.feedEntry {
    background-color:lightsteelblue;
    border:3px solid black;
    border-radius:20px;
    margin:30px 0;
    width:95%;

}

.title {
    background-color:tan;
    font-size:2em;
    padding:10px 0;
    padding-left:20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid black;
}
.content {
    padding:30px;
    line-height:1.5em;
    word-spacing:3px;
    font-size:24px;
    word-wrap:break-word;
}