.feedEntry {
    background: rgb(232,220,208);
    background: radial-gradient(linear, rgba(232,220,208,1) 90%, rgba(195,185,167,1) 100%);
    margin:14px 0;
    width:95%;
    justify-self:center;
    border-radius:7px;
    box-shadow: 0 0 15px #454043;
    transition:box-shadow 200ms ease;
}

.feedEntry:hover {
    box-shadow: 0 0 25px saddlebrown;
    cursor:pointer;
}

.title {
    background: rgb(215,200,184);
    font-size:1.5em;
    padding:10px 0;
    padding-left:20px;
    border-bottom: 1px solid rgba(0,0,0,.4);
    text-shadow: rgb(206, 199, 179) 0 0px 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.title h3 {
    font-size:.4em;
    margin:5px 0;
    color:#444;
}

.title h2 {
    margin-bottom:.2em;
    margin-top:.2em;
    font-size:.8em;
}

.content {
    padding:30px;
    line-height:1.5em;
    font-size:1em;
    word-wrap:break-word;
    display:flex;
    flex-flow:column;
    align-items:center;
    max-width:100%;
}

.content a {
    color:inherit;
    text-underline-offset: 1px;
}

.content a:hover {
    cursor:pointer;
}

.content h1 {
    font-size:1.2em;
    color:darkcyan;
    text-shadow:0 1px black;
}

.content h2 {
    font-size:1.2em;
    color:rgb(50, 104, 104);
    text-shadow:0 1px black;
}