.App {
    display:grid;
    grid-template-rows:1fr 9fr;
    margin:0;
    padding:0;
    height:100vh;
    overflow:hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
    background-color:#5b5854;
}