.mainPage {
    background-color:transparent;
    display:grid;
    grid-template-columns:1fr 3fr;
    overflow:hidden;
    background: rgb(236,231,218);
    background: radial-gradient(circle, rgba(236,231,218,1) 90%, rgba(203,188,159,1) 100%);
    border-top:1px solid saddlebrown;
}

.leftColumn {
    margin-right:5%;
    background: rgb(232,220,208);
    background: radial-gradient(circle, rgba(232,220,208,1) 80%, rgba(195,185,167,1) 100%);
    box-shadow:0 0 15px saddlebrown;
}

.leftColumn ul {
    font-size:1.5em;
    font-weight:bold;
    text-shadow: black 0 1px;
    text-align:right;
    margin-right:1em;
    line-height:2em;
}

.leftColumn ul a {
    text-decoration:none;
}

.leftColumn ul li {
    list-style:none;
    color:#403c38;
    text-decoration:none;
}

.leftColumn ul li:hover {
    color:#ff6314;
    cursor:pointer;
}

.leftColumnTitle{
    color: #ff6314;
    text-align:center;
    border-bottom: 1px solid black;
    border-bottom-style:dashed;
    text-shadow: black 0 2px 5px;
    font-size:1.3em;
    padding:0;
    margin:0;
}

.leftColumnTitle h2 {
    margin: .3em 0;
}

.addSubButton {
    font-size:2em;
    color:grey;
    text-shadow:black 0px 0px 2px;
}

.addSubButton:hover {
    cursor:pointer;
    color:#f5e7c9;
}